body{
	scroll-behavior: smooth;
}

header{
	margin-top: 0px;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
	background-color: black;
}

nav{
	background-color: black;
	opacity: 0.7;
}

#title{
	padding-top: 45vh;
	display: inline-block;
}

#main-title{
	border-width: 5px;
	border-style: solid;
	border-color: white;
	margin: auto;
}

#block-up{
	background-color: #343a40;
}

#block-down{
	background-color: #454d54;
}

#wait-block{
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10%;
}

#wait-title{
	padding-top: 20vh;
	display: inline-block;
}

#store-title{
	padding-top: 25vh;
	display: inline-block;
	padding-left: 10%;
	padding-right: 10%;
}

#store-block{
	padding: 5%;
	background-color: rgba(0, 0, 0, 0.6);
}